<h1>Team VigoRISE Online CIP Reporting System</h1>
<h1>Team VigoRISE Human Resources Subordinate Committee</h1>
<img src='vigorise-cip-record/app/assets/images/logo.png'
     height = "300"
     width = "212">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Number of hours</th>
      <th>Reason</th>
      <th>Person in charge</th>
      <th>Approval status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @team_vigo_rise_online_systems.each do |team_vigo_rise_online_system| %>
      <tr>
        <td><%= team_vigo_rise_online_system.Name %></td>
        <td><%= team_vigo_rise_online_system.Date %></td>
        <td><%= team_vigo_rise_online_system.Time %></td>
        <td><%= team_vigo_rise_online_system.Number_of_Hours %></td>
        <td><%= team_vigo_rise_online_system.Reason %></td>
        <td><%= team_vigo_rise_online_system.Person_In_Charge %></td>
        <td><%= team_vigo_rise_online_system.Approval_Status %></td>
        <td><%= link_to 'Show', team_vigo_rise_online_system %></td>
        <td><%= link_to 'Edit', edit_team_vigo_rise_online_system_path(team_vigo_rise_online_system) %></td>
        <td><%= link_to 'Destroy', team_vigo_rise_online_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team vigo rise online system', new_team_vigo_rise_online_system_path %>
