<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_vigo_rise_online_system.Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @team_vigo_rise_online_system.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @team_vigo_rise_online_system.Time %>
</p>

<p>
  <strong>Number of hours:</strong>
  <%= @team_vigo_rise_online_system.Number_of_Hours %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @team_vigo_rise_online_system.Reason %>
</p>

<p>
  <strong>Person in charge:</strong>
  <%= @team_vigo_rise_online_system.Person_In_Charge %>
</p>

<p>
  <strong>Approval status:</strong>
  <%= @team_vigo_rise_online_system.Approval_Status %>
</p>

<%= link_to 'Edit', edit_team_vigo_rise_online_system_path(@team_vigo_rise_online_system) %> |
<%= link_to 'Back', team_vigo_rise_online_systems_path %>
